{% extends "users/base.html" %}
{% block title %} Dashboard - {{ user.username.title }}{% endblock title%}
{% block content %}

<h3>Dashboard:<br>Изображения пользователя {{ user.username.title }}</h3>
<a href="{% url 'add_image_feed' %}" class="btn btn-primary mb-3">Добавить изображение</a>

{% for feed in image_feeds %}
<div align="center">
<a href="{% url 'process_feed' feed.id %}" class="btn btn-secondary">Проверить изображение</a>
<table>
    <tr>
        <td>
            <figure>
                <a href="{{ feed.image.url }}" target="_blank">
                    <img src="{{ feed.image.url }}"
                         alt="Original Image"
                         style="width: 250px; height: 200px;"></a>
                <figcaption>Ваше изображение</figcaption>
            </figure>
        </td>

        <td>
            {% if feed.processed_image %}
            <figure>
                <a href="{{ feed.processed_image.url }}" target="_blank">
                    <img src="{{ feed.processed_image.url }}"
                         alt="Processed Image"
                         style="width: 250px; height: 200px;"></a>
                <figcaption>Распознанное изображение</figcaption>
            </figure>
            {% else %}
            <b>Данный объект не распознан!</b>
        {% endif %}
        </td>

        <td>
            <ol>
                <h3>Классификация объектов на фото:</h3>
                {% for obj in feed.detected_objects.all %}
                <li><b>{{ obj.object_type }} - {{ obj.confidence|floatformat:2 }}</b></li>
                {% endfor %}
            </ol>
        </td>
    </tr>
</table>

    <form action="{% url 'delete_image' feed.id %}" method="post">
        {% csrf_token %}
        <hr size="1">
            <button type="submit"><b>Удалить</b></button>
    </form>
</div>
{% endfor %}
{% endblock %}
