body {
font-family: Arial, sans-serif;
background-color: #f9f9f9;
}

header {
background-color: #6b20fd;
color: #fff;
padding: 10px 20px;
text-align: center;
}

h2 {
color: #333;
}

h1 {
    text-align: center;
}

#logout-form {
    display: inline;
}


#form button {
    padding: 0;
    color: #fff;
    background: none;
    border: 0;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}